@charset "UTF-8";

body {
    background-color: rgb(70, 70, 243);
    color: white;
    font: normal 15pt Arial;
    
}

h1 {
    text-align: center;
}

section {
    background-color: white;
    color: black;
    text-indent: 10px;
    display: block;
    margin: auto;
    height: 50vh;
    width: 45vw;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

div {
    text-align: center;
    padding: 10px;
}

footer {
    font-style: italic;
    text-align: center;
}




